{% extends 'main.html' %}
{% load static %}

{% block head-content %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script defer src="{% static 'js/script-manage-map.js' %}" ></script>
{% endblock %}


{% block body-content %}
    <div class="body-grid">
        <div class="box">
            <div class="menu-icon"><a href="" title="Menu"><img src="{% static 'menu_nowe.png' %}" class="items-img" alt="login-icon"></a></div>
            <div class="menu-items hide">
                {% if user.is_authenticated %}
                    <div class="item"><a href="/settings" title="Settings"> <img src="{% static 'settings.png' %}" class="setting-img items-img" alt="setting-icon"> </a></div>
                    <div class="item"><a href="/logout" title="Logout"> <img src="{% static 'login.png' %}" class="logout-img items-img" alt="logout-icon"> </a></div>
                {% else %}
                    <div class="item"><a href="/login" title="Login"> <img src="{% static 'login.png' %}" class="login-img items-img" alt="login-icon"> </a></div>
                    <div class="item" ><a href="/register" title="Register"> <img src="{% static 'register.png' %}" class="register-img items-img" alt="register-icon"> </a></div>
                {% endif %}

            </div>
        </div>
        <div id="map">
        </div>
    </div>

    <div class="data hide">
        <h4> Sensor ID: <span class="sensor-id"></span></h4>
        <div class="charts">
            <div class="charts-error"></div>
            <div class="chart0"></div>
            <div class="chart1"></div>
            <div class="chart2"></div>
            <div class="chart3"></div>
            <div class="chart4"></div>
        </div>
    </div>

    {% if not user.is_authenticated %}
    <div class="login-modal hide">
        <form method="POST" action="/login/">
            {% csrf_token %}
            <label>Username:</label>
            <input type="text" name="username" placeholder="Enter Username"/>
            <br>
            <label>Password:</label>
            <input type="password" name="password" placeholder="Enter Password"/>
                        <br>
            <input type="submit" value="Login"/>
        </form>
        <p>Haven't signed up yet?</p>
        <a href="{% url 'register' %}">Sign up</a>
    </div>
    <div class="register-modal hide">
        <form method="POST" action="register/">
            {% csrf_token %}
            {{form_register.as_p}}
            <input type="submit" value="Register"/>
        </form>
        <p>Already signed up?</p>
        <a href="{% url 'login' %}">Login</a>
    </div>
    {% else %}
    <div class="settings-modal hide">
        <div class="buttons">
            <button type="button" class="btn-item" name="add-sensor-item">Add new sensor!</button>

            <button type="button" class="btn-item" name="user-sensor-item">Manage your sensors!</button>
        </div>
        <br><br>
        <div class="settings-items">
            <div class="add-sensor-item hide">
                <form method="POST" action="add-sensor/" >
                    {% csrf_token %}
                    {{ form_sensor.as_p}}
                    <input type="submit" value="Add Sensor"/>
                </form>
            </div>
            <div class="user-sensor-item hide">
                {% if sensors %}
                    <ol>
                        {% for sensor in sensors %}
                            <li> {{sensor.serial}} --- {{sensor.lat}}/{{sensor.lon}} --- {{sensor.description}} <a href="/delete-sensor/{{sensor.id}}">☒</a></li>
                        {% endfor %}
                    </ol>
                {% else %}
                    <h4>Sorry, you currently have no available sensors!</h4>
                    {% endif %}
            </div>
        </div>
    </div>
    {% endif %}

<script src="{% static 'js/script-load-map.js' %}" ></script>

<script >
    {% for marker in markers %}
        L.marker([{{marker.lat}}, {{marker.lon}}], {title:"{{marker.id}}"}).addTo(map).bindPopup("{{marker.popup}}");
    {% endfor %}
</script>


{% endblock %}