{% extends 'main.html' %}
{% load static %}

{% block head-content %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>


    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

{% endblock %}



{% block body-content %}

    <div class="body-grid">
      <div id="map">


              <script src="{% static 'js/universal.js' %}" ></script>
              <script>
                    {% for marker in markers %}
                        L.marker([{{marker.lat}}, {{marker.lon}}], {title:"{{marker.id}}"}).addTo(map).bindPopup("{{marker.popup}}");
                    {% endfor %}
              </script>

      </div>
    </div>
    <div class="chart" id="chart">
    </div>


{% endblock %}